 body {
    background-color: peru;
 }
 
 h2 {
    color: rgb(208, 203, 203);
}
h1 {
    margin-block-start: 0em;
    color: white;
}

.input_area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input {
    height: 1.5em;
}
.container {
    background-color: rgb(19, 19, 19);
    display: inline-flex;
    padding: 7em;
    border-radius: 0.5em;
    flex-direction: column;
    align-items: center;
    width: 20em;
    
}

textarea {
    margin-top: 2em;
    width: 100%;
}
.area {
    display: flex;
    justify-content: center;
}
.reset {
    text-align: center;
    height: 2em;

}
button {
    height: 3em;
    width: 100%;
    background-color: rgba(150, 126, 17, 0.889);
    border: nome;
    color: white;
}
button:hover {
    cursor: pointer;
}